.header__title {
	margin-left: 0px;
	}

.footer__box {
	justify-content: space-around;
}

.services__img_left {
	overflow: hidden;
}

@media all and (max-width:991px){
	.menu__item {
		margin: 0 15px;
	}

	.services__items_block2 {
		margin-left: 40px;
	}

	.services__img_left{
	margin-left: -160px;
	}
}

@media all and (max-width:840px){
	.header {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.logo {
		width: 300px;
		height: 300px;
	}

	.menu__item {
		width: 100%;
	}

	.services__items {
		padding: 30px 30px;
	}

	.services__items_block2 {
		margin-left: 40px;
	}

	.services__img_left{
	margin-left: -160px;
	}

	.work__items {
		width: 25%;
		text-align: center; 
	}

	.work__title h4 {
		font-size: 20px;
		height: 30px;
		margin-bottom: 20px;
	}

	.example {
		height: 600px;
		margin: 0px;
		padding: 0px;
	}
	
	.example__title {
		height: 80px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.example__img {
		display: flex;
		justify-content: space-around;
		width: 80%;
		height: 70%;
	}
}

@media all and (max-width:575px) {
	
	.none {
		display: none;
	}

	
	.menu__col {
		flex-direction: column;
		text-align: center;
	}
	
	.menu__col li {
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 60px;
		background: rgba(200,200,200,0.3);
		border: 1px solid grey;
		border-radius: 5px;
	}

	.menu__col li:hover {
		background: rgba(250,198,65,0.5);
	}

	.menu__col li a {
		text-decoration: none;
	}

	h1 {
	margin: 40px 0;
	}

	.services__items {
	margin: 30px auto;
	}

	.services__items_block1 {
	border-bottom: 8px solid #f1a80d;
	}

	.services__items_block2 {
	border-bottom: 8px solid #07cc46;
	}

	.services__items_block3 {
	border-bottom: 8px solid #e70633;
	}
	
	.work__block {
		flex-direction: column;
		align-items: center;
	}

	.work__items {
		margin-bottom: 20px;
		width: 100%;
	}

	.work__title h4 {
		text-align: center;
	}
	
	.example__img {
		height: 60%;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.footer {
		padding-top: 0px;
	}

	.footer__box {
		flex-direction: column;
	}


	@media all and (max-width:420px) {
		.header, .services, .work, .example, .footer, .work__items, .prise, .contact, .services__items {
			width: 100%;
			min-width: 300px;
		}
	}
}